body {
  font-family: var(--vscode-font-family);
  color: var(--vscode-foreground);
  padding: 10px;
}

h2,
h3 {
  margin-bottom: 10px;
  color: var(--vscode-editor-foreground);
}

.button {
  background-color: var(--vscode-button-background);
  color: var(--vscode-button-foreground);
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 2px;
}

.button:hover {
  background-color: var(--vscode-button-hoverBackground);
}

details {
  border-bottom: 1px solid var(--vscode-widget-border);
}

summary {
  padding: 8px;
  font-weight: bold;
  background-color: var(--vscode-sideBar-background);
  cursor: pointer;
  user-select: none;
}

summary:hover {
  background-color: var(--vscode-list-hoverBackground);
}

summary:focus {
  outline: none;
  background-color: var(--vscode-list-focusBackground);
}

details[open] summary {
  border-bottom: 1px solid var(--vscode-widget-border);
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

.files-section[open] > div {
  display: block;
  height: 40vh;
  min-height: 100px;
  max-height: 80vh;
  overflow: auto;
}

.files-section:not([open]) > div {
  display: none;
}

details[open] > :not(summary) {
  height: calc(100% - 30px);
  overflow-y: auto;
}

.settings-button {
  margin-top: auto;
  margin-bottom: 10px;
}